.project:nth-child(even){
    background-color: #000000;
}

.project:nth-child(odd){
    background-color: #171717;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}

.project__name{
    color: #F7F7F7;
    margin: 0;
}