.topbar{
    background-color: #5D0002;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.container{
    width: 100%;
}

.topbar__wrapper{
    width: 100%;
}

.topbar__logo{
    display: flex;
    justify-content: center;
    /* margin-top: 15px; */
}


.topbar__logo img{
    display: flex;
    width: 93.375px;
    height: 24.125px;
}


