footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #5d0002;
  width: 100%;
  height: 95px;
  position: relative;
}

.copyright {
  margin-top: 15px;
}

p {
  color: #f7f7f7;
  margin: 0;
}

.dev {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.dev a {
  margin-left: 5px;
  text-decoration: none;
  color: #f7f7f7;
  cursor: pointer;
}
